<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="kenTodoApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="kenTodoApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="kenTodoApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="kenTodoApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ken Todo List App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <div class="container">

    <div class="row-fluid">

      <div ng-controller="todoController">
        <div class="col-md-8 offset-md-2">
          <div class="jumbotron">
            <h1>What needs to be done?</h1>

            <form action="" ng-submit="addTodo()">
              <div class="input-group input-group-lg">
                <input type="text" ng-model="newTodo" class="form-control input-group-lg">
                <span class="input-group-append btn-group-lg">
                  <button type="submit" class="btn btn-secondary">Add Todo</button>
                </span>
              </div>
            </form>
          </div>

          <div id="todoList" class="list-group">
            <div ng-repeat="todo in todoList"
                 class="list-group-item todo">
              <label class="description"
                     ng-class="{'strike': todo.done}">
                <input type="checkbox" ng-model="todo.done">
                {{ todo.desc }}
              </label>
              <button type="button"
                      ng-click="deleteTodo($index)"
                      class="btn btn-danger btn-sm">Delete</button>
            </div>
          </div>

          <span id="todo-count">
            <h4>
              <ng-pluralize
                      count="pendingCount"
                      when="{
                      '0': 'No item left',
                      '1': '1 item left',
                      'other': '{} items left'
                    }"></ng-pluralize>
              <button id="clearTasks"
                      ng-if="pendingCount < todoList.length"
                      ng-click="clearCompleteTodo()"
                      class="btn btn-primary">
                Clear completed {{ todoList.length - pendingCount }}
              </button>
            </h4>
          </span>
        </div>
      </div>

    </div>

  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
