/* app css stylesheet */
#todoList .strike {
	text-decoration: line-through;
	color: gray;
}
#todoList .description {
	font-family: 'Lobster', cursive;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0;
	cursor: pointer;
}
#todoList input {
	margin-right: 10px;
}
#todoList button {
	float: right;
	margin-top: 5px;
	font-size: 13px;
	visibility: hidden;
}
#todoList .list-group-item:hover button {
	visibility: visible;
}
#todoList .list-group-item:hover {
	cursor: pointer;
}
#clearTasks {
	float: right;
}
.todo {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	overflow: hidden;
}
.todo.ng-leave.ng-leave-active,
.todo.ng-enter {
	height: 0;
	padding: 0 15px;
}

.todo.ng-leave,
.todo.ng-enter.ng-enter-active {
	height: 50px;
	padding: 10px 15px;
}
